<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div id="title" class="column">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
   <div id="name" class="column" > 
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
    <div id="message" class="column">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
