<div class="navbar">
	<div class="navbar-inner">
  	<a class="brand" href="#">Viral Heat Message Board</a>
			<ul class="nav">
			
				<li><%= link_to "make a new post", new_post_path %></li>
			</ul>
				<div class="navbar-right">
					  <% if user_signed_in? %>
						  Logged in as <strong><%= current_user.email %></strong>.
							<%= link_to 'Edit profile', edit_user_registration_path %> |
							<%= link_to "Logout", destroy_user_session_path, method: :delete %>
						<% else %>
							<%= link_to "Sign up", new_user_registration_path %> |
							<%= link_to "Login", new_user_session_path %>
						<% end %>
				</div>
	</div>
</div>